-- Check if employer_id column exists in companies table
-- If it doesn't exist, add it with foreign key constraint
USE job_portal;
-- Check if column exists
SET @exists = 0;
SELECT COUNT(*) INTO @exists FROM information_schema.columns WHERE table_schema = 'job_portal' AND table_name = 'companies' AND column_name = 'employer_id';

-- Add column if it doesn't exist
SET @query = IF(@exists = 0, 
    'ALTER TABLE companies ADD COLUMN employer_id INT NOT NULL, ADD CONSTRAINT fk_companies_employer FOREIGN KEY (employer_id) REFERENCES users(id) ON DELETE CASCADE;',
    'SELECT "Column already exists";');
PREPARE stmt FROM @query;
EXECUTE stmt;
DEALLOCATE PREPARE stmt;
